{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block body_block %}
    <h1>{{ recipe.title }}</h1>

    <p>{{ recipe.intro | linebreaks }}</p>
    {% if recipe.serves %}
        <p>For {{recipe.serves}} 
        {% if recipe.serves_upper %}to {{recipe.serves_upper}}{% endif %}
        persons</p>
    {% endif %}
    {% if ingredients %}
        {% load fractions %}
        <ul>
            {% for ingredient in ingredients %}
            <li>
            {% if ingredient.quantity %}
                {% display_fraction ingredient.quantity %} 
            {% endif %}
            {% if ingredient.get_units_display %}
                {{ ingredient.get_units_display }}{{ ingredient.quantity|pluralize }}
            {% endif %} 
            {{ ingredient.name }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
        <p>{{ recipe.instructions | linebreaks }}</p>

    {% if recipe.previous %}
        <a href="{% url 'recipe' recipe.previous.slug %}">{{ recipe.previous.title }}</a>
    {% endif %}
    {% if recipe.next %}
        <a href="{% url 'recipe' recipe.next.slug %}">{{ recipe.next.title }}</a>
    {% endif %}
{% endblock %}